.App {
  font-family: 'Inter', sans-serif;
}

.nav-inactive {
  color: rgb(2, 2, 2);
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-active {
  color: rgb(2, 2, 2);
  padding: 10px;
  letter-spacing: 1px;
  text-underline-offset: 5px;
}
